* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D2D3C;
    font-family: sans-serif;
}

header {
    background-color: #06131F;
    height: 60px;
}

.container {
    max-width: 1024px;
    width: 80%;
    margin: auto;
}

.records {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
    justify-content: center;

    .card {
        padding: 2rem;
        background-color: #112030;
        border-radius: .5rem;
        width: calc((100% / 3) - 3rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        & img {
            max-width: 300px;
            width: 100%;
        }

        .bottom {
            color: white;
            text-align: center;
            margin-top: 1rem;

            & h6 {
                padding: .5rem 0;
                font-size: .8rem;
                font-weight: 300;
            }
        }
    }
}

.record_modal {
    position: fixed;
    inset: 0;
    background-color: #112030db;
    margin: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal_card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;

    & img {
        max-width: 600px;
        width: 100%;
    }

    .bottom {
        color: white;
        text-align: center;
        margin-top: 1rem;

        & h5 {
            padding: .5rem 0;
            font-size: 1rem;
            font-weight: 300;
        }
    }
}


@media screen and (max-width: 1440px) {
    .records .card {
        width: calc((100% / 2) - 3rem);
    }
}

@media screen and (max-width: 768px) {
    .records .card {
        width: calc(100% - 3rem);
    }
}